[Unit]
Description=SocketServer (user service)
After=network.target

[Service]
WorkingDirectory=/home/pe6e3/SocketServer/bin/Release/net8.0/publish
ExecStart=/usr/bin/dotnet /home/pe6e3/SocketServer/bin/Release/net8.0/publish/SocketServer.dll
Restart=always
RestartSec=5
SyslogIdentifier=SocketServer
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=LOG_SQLITE_PATH=/home/pe6e3/SocketServer/data/logs.db
Environment=LOG_RETENTION_DAYS=50
Environment=LOG_SEGMENT_MAX_ROWS=500000
Environment=LOG_MAX_TOTAL_ROWS=5000000
Environment=LOG_MAX_SAME_PER_SECOND=200

[Install]
WantedBy=default.target
