[Unit]
Description=SocketServer (user service)
After=network.target

[Service]
WorkingDirectory=/home/pe6e3/SocketServer/bin/Release/net8.0/publish
ExecStart=/usr/bin/dotnet /home/pe6e3/SocketServer/bin/Release/net8.0/publish/SocketServer.dll
Restart=always
RestartSec=5
SyslogIdentifier=SocketServer
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=POSTGRES_CONNECTION_STRING=Host=127.0.0.1;Port=5432;Database=socket_logs;Username=socket_logs_user;Password=change_me

[Install]
WantedBy=default.target
